<html>
    <body>
        <form method="POST" action="/api/user">
            <label for="">Firstname</label>
            <input type="text" name="firstname" id=""><br>
            <label for="">Lastname</label>
            <input type="text" name="lastname" id=""><br>
            <label for="">Email</label>
            <input type="text" name="email" id=""><br>
            <label for="">Rating</label>
            <input type="text" name="rating" id=""><br>
            <label for="">Comment</label>
            <input type="text" name="comment" id=""><br>
            <input type="submit">
        </form>
    </body>
</html>