.menu_cards{
	display: flex;
	align-items: center;
	margin-top: 40px;
	margin-left: 100px;
}

.menu_card_btn_container{
    text-align: center;
}

.menu_card_btn{
    border-radius: 7px;
    font-size: medium;
    border: 0px ;
    background-color: aqua;
    color: azure;
    width: 40%;
    height: 60%;
}